<!--フラッシュメッセージ実装-->
<% flash.each do |message_type, message| %>
  <div class="flash-message">
    <%= message %>
  </div>
<% end %>

<table class="show-table">
  <tr class="show-table-tr">
    <th>Title:</th>
    <td><%= @book.title %></td>
  </tr>
  <tr class="show-table-tr">
    <th>Body:</th>
    <td><%= @book.body %></td>
  </tr>
</table>

<%= link_to "Edit", edit_book_path, class: 'show-btn1' %>
<%= link_to "Back", books_path, class: 'show-btn2' %>